:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.wrap_app {
  max-width: 350px;
  background-color: black;
  margin: 0 auto;
  border: solid 1px bisque;
  border-radius: 5px;
  padding: 20px;
}

.wrap_timer_list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.wrap_timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: .937rem;
  border: 3px solid #202124;
  border-radius: 5px;
}

.btn_timer {
  background-color: bisque;
  border: none;
  width: 6.675rem;
  padding: .937rem;
  border: 1px solid #242424;
  border-radius: 3px;
  transition: 0.1s;
}

.btn_timer:hover {
  background-color: #242424;
  color: bisque;
  border: 1px solid bisque;
}

.btn_timer:active {
  transform: translateY(8px);
}

.wrap_progress {
  width: 100%;
}

.progress {
  height: 5px;
  background-color: bisque;
}